body{
    margin: 0;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)),url(./images/bg.jpg);
    color: white;
    background-size: cover;
    /* transition: all 0.3s ease-in-out; */
    font-family: "Lexend", sans-serif;
}

.navbar {
    padding-left: 10px;
    padding-right: 20px;
    height: 70px;
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
    /* overflow: hidden; */
    background-color: #302019;
    color: white;
    z-index: 10; /*Ensure it stays on top */
}

.img{
    width: 40px;
    height: 50px;
    margin-right: 20px;
}

.navbar img {
    /* margin: 10px; */
    width: 50px;
    height: 50px;
}

.brand-text h2{
    margin: 0;
}

.brand-text p{
    margin: 0;
}

.navbar-item{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    width: 500px;
    padding: 5px;
    align-items: center;
    /* margin-right: 20px; */
}

.nav-list{
    list-style-type: none;
    padding: 0;
}

.nav-list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}

.nav-link{
    justify-content: space-evenly;   
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
    /* list-style-type: none; */
}


.nav-list button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;          
    cursor: pointer;        
    outline: none;       
    color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #302019;
    color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
}

.dropdown-content a, .dropdown-content button {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-content a:hover, .dropdown-content button:hover {
    background-color: #555;
}

main{
    padding-top: 75px;
    display: flex;
}

.left-section{
    padding-left: 10px;
    width: 60%;
    /* align-items: flex-start; */
}

.left-section h1, .left-section h2, .right-section h2{
    margin-top: 0;
    margin-bottom: 10px;
}

.trainings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.training-card{
    padding: 2px;
    border-radius: 8px;
    height: 250px;
    width: 240px;
    background-color: #302019;
    transition: transform 0.3s ease;
    /* justify-content: center; */
}

.training-card:hover{
    transform: scale(1.03);
}

.training-image{
    border-radius: 5px;
    background-color: white;
    height: 150px;
    width: 220px;
    margin: auto;
    margin-top: 10px;
}

.training-image img{
    height: 150px;
    width: 220px;
    border-radius: 5px;
}

.check-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.check-section h3{
    color: white;
    margin: 0px;
}

input[type=checkbox]{
    width: 40px;
    height: 40px;
}

.community{
    /* height: 500px; */
    width: auto;
    margin-bottom: 50px;
}

.community-card{
    background-color: #302019;
    /* height: 450px; */
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.comment-card{
    background-color: #392a24;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    margin-bottom: 7px;
    height: max-content;
}

.comment-card img{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 50%;
}

.right-comment p{
    font-size: small;
    margin: 0;
}

.right-comment .content{
    font-weight: 200;
}

.right-section{
    width:auto;
    padding-left: 20px;
}

.statistic-card{
    /* margin: auto; */
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 470px;
    height: 450px;
    background-color: #302019;
}

.statistic-diagram{
    height: 300px;
    width: 425px;
    background-color: wheat;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    /* margin: 10px 15px 10px 15px; */

}

.mini-stat{
    display: flex;
    justify-content: space-between;
    margin: 10px 22.5px;
}

.stat-card{
    /* justify-content: center; */
    width: 115px;
    height: 115px;
    padding: 7.5px;
    border-radius: 10px;
    background-color: #392a24;
}

.value{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
}

.value h2 {
    margin: 0;
    margin-left: 3px;
    font-size: larger;
}

.value span{
    font-size: small;
}

.stat-card h3{
    margin: 0;
}
